body{
	width: 97vw;
	height: 90vh;
}
.volna, .eyes, .eat, .buhie, .kieb, .love{
	transition-duration: 0.5s;
	width: 100%;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 50px;
}
img{
	width: auto;
	height: 75%;
}
.txt{
	font-family: 'Poppins', sans-serif;
}
h2{
	margin-bottom: 40px;
	text-align: center;
}

